$header_bg_color: #c0c6b9;
$second_maincolor: #feefc3;
$graycolor: #747474;
$font-size_P: 18rem;
a,
ul {
  text-decoration: none;
  list-style: none;
}
.header_main_body {
  background-color: $header_bg_color;
}
.header_main {
  padding: 0 100px;
  box-shadow: rgba(232, 232, 232, 0.662) 1px 1px 5px;
  .user-picture {
    img {
      width: 100%;
      height: 40px;
      object-fit: contain;
      border-radius: 8px;
    }
  }
}
