.homeContainer {
  margin-top: 120px;
  .editor {
    min-height: 100vh;
  }
  .main-editor {
    position: relative;
    overflow: hidden;
    border-color: transparent;
    // color: transparent;
    pointer-events: none;
    box-sizing: border-box;
    width: 992.125px;
    // height: 3616.42px;
    border-width: 0px;
    border-style: none;
    padding: 0px;
    top: 0px;
  }
}
